body {
    font-family: 'Lato', sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        filter: blur(4px);
    }

    100% {
        opacity: 1;
        filter: blur(0);
    }
}

@keyframes title-color {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.cus-navbar {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    text-align: center;
    animation: fadeIn 1.5s;
}

.cus-navbar-title {
    font-family: 'Crimson Text', serif;
    font-size: 15vh;
    margin-top: 2vh;
    background: linear-gradient(to right top, #eecda3, #ef629f);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: title-color 3s linear infinite;
}

.cus-navbar-title-foto {
    height: 55vh;
    width: 20vw;
    margin: auto;
    background-color: red;
    background-repeat: no-repeat;
    background-size: contain;
}

.cus-navbar-title-text {
    font-family: serif;
    font-size: 3vh;
    color: white;
    margin-top: 5vh;
}

.cus-section {}

.cus-aboutme-title {
    font-family: serif;
    font-weight: bold;
    font-size: 15vh;
}

.cus-aboutme-text {
    font-family: serif;
    font-size: 3vh;
}

.cus-margin {
    background: red;
}

.cus-footer {
    display: table;
    text-align: center;
    vertical-align: middle;
    height: 5vh;
    width: 100%;
    line-height: 30px;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}